/* Removed external @import (render-blocking + http). Prefer local fonts/system stack. */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  line-height: 1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin-left: -8px;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}





@font-face { font-family: gota; src: url('../fonts/gota.otf'); } 
@font-face { font-family: gota2; src: url('../fonts/gota_light.otf'); } 
@font-face { font-family: dan; src: url('../fonts/dan.otf'); } 
@font-face { font-family: goca; src: url('../fonts/goca.ttf'); } 
@font-face { font-family: facet; src: url('../fonts/facet.ttf'); } 
@font-face { font-family: facet2; src: url('../fonts/facet_ultra.ttf'); } 
@font-face { font-family: Bebas1; src: url('../fonts/Bebas1.otf'); } 
@font-face { font-family: Bebas2; src: url('../fonts/Bebas2.otf'); } 
@font-face { font-family: Bebas3; src: url('../fonts/Bebas3.otf'); } 
@font-face { font-family: Bebas4; src: url('../fonts/Bebas4.otf'); } 
@font-face { font-family: Hero; src: url('../fonts/Hero.otf'); }
@font-face { font-family: Hero2; src: url('../fonts/Hero2.otf'); }
@font-face { font-family: Exo2reg; src: url('../fonts/Exo2-Regular.ttf'); }
@font-face { font-family: Exo2blk; src: url('../fonts/Exo2-Black.ttf'); }
@font-face { font-family: Exo2sb; src: url('../fonts/Exo2-SemiBold.ttf'); }
@font-face { font-family: sofiapro; src: url('../fonts/sofiapro-light.otf'); }

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('../fonts/sofiapro/Fonts/SofiaProSemiBold.eot');
    src: local('Sofia Pro Semi Bold'), local('SofiaProSemiBold'),
        url('../fonts/sofiapro/Fonts/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sofiapro/Fonts/SofiaProSemiBold.woff2') format('woff2'),
        url('../fonts/sofiapro/Fonts/SofiaProSemiBold.woff') format('woff'),
        url('../fonts/sofiapro/Fonts/SofiaProSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p{
    font-weight:900;
    font-family: 'sofiapro';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
}

b{
    font-family: 'sofiapro';
    font-weight: 600;
    font-style: normal;
}

.white_text{
    color: white;
}

h1, h2, h3 {
    margin: 8px;
    text-rendering: optimizeLegibility; 
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: 'sofiapro';
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h2 {
    font-family: 'gota2';
    font-size: 25px; 
    letter-spacing: 3px;   
}

h3 {
    font-family: 'bebas2';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

a {
    text-decoration:none;
}

.post_title{
    font-family: 'bebas3';
    font-size:40px; 
    color:black; 
    font-weight:900; 
    display: inline-block; 
    margin-top:0px; 
    letter-spacing: 5px;
    line-height: 40px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.post_subtitle{
    font-family: 'bebas3';
    font-size:18px; 
    line-height: 20px;
    color:black; 
    font-weight:900; 
    letter-spacing: 2px;
    text-align: center;
}

.post_headers{
    font-family: sofiapro;
    font-size:20px; 
    color:black; 
    font-weight:900; 
    letter-spacing: 2px;
}

.post_txt{
    font-family: sofiapro;
    letter-spacing: 1px;
    font-size: 15px;
}

.link{
    color: blue;
}

.t1{
    text-align:right; 
}




.buy_button{
    background-color: rgb(255, 215, 0, 0.8);
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif;;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1.4;
    margin: 10px 0;
    padding: 12px;
    padding-top: 12px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    transition: all .3s ease

    vertical-align:middle;
    float: right;
    margin-right: 30px;
}

.buy_button:hover {
    background: rgb(255, 215, 0);
    font-weight: 600;
}

.buycoinbtn{
    background-color: rgb(255, 215, 0, 0.8);
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif;;
    color: #000;  
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1.4;
    margin: 10px 0;
    padding: 12px;
    padding-top: 12px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    transition: all .3s ease 
}

.buycoinbtn:hover {
    background: rgb(255, 215, 0);
    font-weight: 600;
}


.windturbine:after{
    position: relative !important;
    top: 0px !important;
    height: 130px !important;
    left: 50% !important;
}

.windturbine:before{
    height: 0px !important;
}



.icon{
    color: rgba(0, 0, 0, .9);
    font-weight: 900;
    font-family: 'sofiapro';
    margin-top: 7px;
    text-transform: none
}

.icons:after{
    background-size: contain;
    content: "";
    display: inline-block;
    height: 28px;
    left: 4px;
    top: 9px;
    width: 36px;
    margin-right: 10px;
    margin-bottom: -9px;
    margin-left: 5px;
}

.ppcoin:after {
    background-image: url(../img/ppcoin.png);
    background-size: contain;
    content: "";
    display: inline-block;
    height: 15px;
    left: 4px;
    top: 3px;
    width: 15px;
    margin-bottom: -3px;
    margin-left: 5px;
}

.co2:after {
    background-image: url(../img/co2.png);
    background-size: contain;
    content: "";
    display: inline-block;
    height: 15px;
    left: 4px;
    top: 3px;
    width: 15px;
    margin-bottom: -3px;
    margin-left: 5px;
}

.supporticon:after {
    background-image: url(../img/heart.png);
    background-size: contain;
    content: "";
    display: inline-block;
    height: 14px;
    left: 4px;
    top: 3px;
    width: 15px;
    margin-bottom: -3px;
    margin-left: 5px;
}


.wallet{
    margin: 3%;
    margin-top: 10px;
    border: solid 1px;
    padding: 20px;
    width: 38%;
    height: 250px;
    float: left;
}


.buycoins{
    margin: 3%;
    margin-top: 10px;
    border: solid 1px;
    padding: 20px;
    width: 38%;
    height: 250px;
    float: right;
}

.visa:after{
    background-image: url(../img/visa.png);
    background-size: contain;
    content: "";
    display: inline-block;
    height: 23px;
    left: 4px;
    position: relative;
    top: 8px;
    width: 35px
}

.paypal:after{
    background-image: url(../img/pp.jpg);
    background-size: contain;
    content: "";
    display: inline-block;
    height: 23px;
    left: 4px;
    position: relative;
    top: 8px;
    width: 37px
}

.crypto:after{
    background-image: url(../img/crypto.png);
    background-size: contain;
    content: "";
    display: inline-block;
    height: 28px;
    left: 4px;
    position: relative;
    top: 9px;
    width: 36px
}

.gold:after{
    background-image: url(../img/gold.png);
}

.silver:after{
    background-image: url(../img/silver.png);
}

.bronze:after{
    background-image: url(../img/bronze.png);
}




/*
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
*/



.item_thumbnail{
    vertical-align:middle;
    float: left;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 10px 20px 10px 0;
    border-radius: 20%;
    margin-left: 20px;
    object-fit: cover;
    width:90px;
    height:90px;
}

.item_titles{
    font-weight:900;
    font-size: 16px; 
    letter-spacing:1px;
    overflow: hidden;
    margin-top: 5px;
    padding-right: 30px;
}

.item_excerpt{
    color: black;
    margin-top: -20px;
    letter-spacing:1px;
    overflow: hidden;
    width: 65%;
}

.li_item{
    border-bottom: 1px solid;
    width: 100%;
    margin-left: 0px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 1px;
    pointer-events: visible;
    overflow: hidden;
}

.li_item:hover{
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff;
}









